#NavBar {
	background: rgba(0, 0, 0, 0.3);
}

#NavBar .navlinks {
	display: flex;
	justify-content: space-evenly;
}
#NavBar .navlinks .link {
	color: aliceblue;
	transition: color 0.5s ease;
}

#NavBar .navlinks .link:hover {
	color: peachpuff;
}
