#RegisterForm {
	width: 25rem;
	margin: 2rem auto 6rem auto;
	background: rgba(209, 18, 18, 0.1);
}

#RegisterForm .form-link {
	color: wheat;
}

#RegisterForm .form-link:hover {
	color: aliceblue;
}

#RegisterForm .lh-copy {
	display: flex;
	flex-direction: column;
}
